* {
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
}

body {
  background-color: #e996bf;
  transition: background 0.2s linear;
  font-size: 1.2rem; /* Tamanho de fonte maior */
  text-shadow: 1px 1px 2px #fff6, 0 1px 0 #fff3; /* Sombra suave para destaque */
}

body.dark {
  background: #292c35;
}
.secao-destaque {
    padding: 20px;
    text-align: center;
    background-color: #d7368a;
    margin: 20px 0;
}

.apresentacao {
    padding: 20px;
    text-align: center;
    background-color: #d7368a;
    margin: 20px 0; /
}

.imagem-palesta {
    width: 550px;
    height: 550px;
    border-radius: 10px;
}

.titulo-card {
    text-align: center;
}

.texto-do-card {
    text-align: justify;
}

.texto-palestra {
    text-align: justify;
}

.letreiro-texto {
     display: inline-block;
    padding-left: 40%; /* antes era 100% */
    animation: marquee 29s linear infinite; /* antes era 29s */
    font-size: 34px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.texto-justificado {
    text-align: justify;
}

.imagem-palesta {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Adiciona bordas arredondadas */
    margin-bottom: 20px; /* Espaçamento abaixo da imagem */
}

@media (max-width: 768px) {
    .texto-justificado {
        text-align: left; /* Alinha o texto à esquerda em dispositivos móveis */
    }
}